 {% extends 'main.html' %}
{% load static %}
{% block title %}| {{ listing.contact }}{% endblock %}
{% block content %}
 {% load humanize %}
<style type="text/css">
    .options-maps>a.active {
    color: #fff;
    background-color: #947054;
}
.options-maps>a:first-child {
    margin-top: 0;

}
.options-maps>a {
    display: block;
    background-color: #333333;
    color: #fff;
    padding: 7px 20px;
    margin-top: 5px;
    border-radius: 3px;
    text-decoration:none;
    }
    div>.options-maps{
    position: relative;
    overflow: hidden;
    }

</style>

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background: url('{% static 'img/bg-img/hero1.jpg' %}');" >
<!--        <div class="container h-100" >-->
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title" style="background:#192a56">Contact</h3>
                    </div>
                </div>
            </div>
<!--        </div>-->
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="south-contact-area section-padding-100" >
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="contact-heading">
                        <h6>Contact info</h6>
                    </div>
                </div>
                 <div class="col-12 col-lg-8">
                    <div class="contact-heading">
                        <h6><img src="{% static 'img/icons/location.png' %}" alt=""> Location</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="content-sidebar">
                        <!-- Office Hours -->
                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span >Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Saturday</span> <span>09 AM - 14 PM</span></li>
                                <li class="d-flex align-items-center justify-content-between"><span>Sunday</span> <span>Closed</span></li>
                            </ul>
                        </div>
                        <!-- Address -->
                        <div class="address mt-30">
                            <h6><img src="{% static 'img/icons/phone-call.png' %}" alt=""> <div class="number">
                        <a href="tel:+977 9860907500">+977 9860907500</a>
                    </div></h6>
                        <h6><img src="{% static 'img/icons/envelope.png' %}" alt=""> <div class="email-address">
                    <a href="https://mail.google.com/mail/u/0/#inbox">ktmrealestate78@gmail.com</a>
                </div></h6>
                            <h6><img src="{% static 'img/icons/location.png' %}" alt=""> Chabahil, Kathmandu</h6>
                        </div>
                    </div>
                </div>

                <!-- Contact Form Area -->
                <div class="col-12 col-lg-8">


            <div class="maps">
               
     <div class="options-maps" style="position: absolute; top: 45%; right: 2%; z-index: 2;">

                         <a href="javascript:map();"  onclick="map" id = "maps"class="map active">Map</a>
                        <a href="javascript:street();"   id = "street" class="map ">StreetView</a>

                     </div>
                <div class="si-ld-map__panes js-map-panes" >
                    <div id="mapCanvas">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.950624542156!2d85.33654321456564!3d27.718810731595955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb196de5da5741%3A0x652792640c70ede9!2sHerald%20College%20Kathmandu!5e0!3m2!1sen!2snp!4v1590907410188!5m2!1sen!2snp" width="100%" height="250" frameborder="0" style=" border: 3px solid #947054;border-radius: 20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                     <div id="streetview">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1590907471276!6m8!1m7!1sCAoSLEFGMVFpcFA4RGJLWFpuWlJtd0xLbFhMcEJ3Vm9BVFVucmEyNXdOcDRuRExN!2m2!1d27.71836625!2d85.33907712!3f61.393815730990205!4f-15.391224584884085!5f0.7820865974627469" width="100%" height="250" frameborder="0" style="border: 3px solid #947054;border-radius: 20px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </iframe>
                </div>

                <script>
              $("#streetview").hide();


                function map() {
              $("#streetview").hide();
                document.getElementById("mapCanvas").style.display = "block";
            document.getElementById("streetview").style.display = "none";
        }
       
 function street() {
        $("#streetview").show();
        $("#mapCanvas").hide();
            document.getElementById("streetview").style.display = "block";

            document.getElementById("mapCanvas").style.display = "none";


}
<!-- Add active class to the current button (highlight it) -->

var btns = document.getElementsByClassName(" map");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });

}

</script>


            </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Google Maps -->
 

  {% endblock %}