{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load humanize %}

 <!--                        Alerts messages-->
<!--                        {% include 'other_files/messages.html' %}-->
    <!-- ##### Hero Area Start ##### -->
  <section class="hero-area" style="background:transparent; color:black;" >
        <div class="hero-slides owl-carousel">
<!--            &lt;!&ndash; Single Hero Slide &ndash;&gt; background: url('{{ STATIC_URL }}my_app/example.jpg'-->
            <div class="single-hero-slide bg-img" style="background-image: url('{% static 'img/bg-img/hero1.jpg' %}');">
<!--                <div class="container h-100">-->
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" style="background:#192a56" data-delay="100ms">Find your home</h2>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('{% static 'img/bg-img/hero2.jpg' %}');">
<!--                <div class="container h-100">-->
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" style="background:#192a56" data-delay="100ms" style="background:transparent; color:black;">Find your dream house</h2>
                            </div>
                        </div>
                    </div>
<!--                </div>-->
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('{% static 'img/bg-img/hero3.jpg' %}');">
<!--                <div class="container h-100">-->
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" style="background:#192a56" data-delay="100ms" style="background:transparent; color:black;">Find your perfect house</h2>
                            </div>
                        </div>
<!--                    </div>-->
                </div>
            </div>
        </div>
  </section>
    <!-- ##### Hero Area End ##### -->

{% include 'other_files/search_file.html'%}

    <!-- ##### Featured Properties Area Start ##### -->
    <section class="featured-properties-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp">
                        <h2>Featured Properties</h2>
                        <p>Observe our properties at your choice.</p>
                    </div>
                </div>
            </div>

            <div class="row">

              {% if listings %}
                    {% for listing in listings %}
                                    <!-- Single Featured Property -->
                                         <div class="col-12 col-md-6 col-xl-4">
                            <div class="single-featured-property mb-50">
                                <!-- Property Thumbnail -->
                                <div class="property-thumb">
                                    <img src="{{listing.main_photo.url}}" alt="">
                                     {% include 'other_files/status.html'  %}
                                   <!--    For listing_date.html    -->
                                {% if listing.status == 'sold' %}
                                         <div class="si-listing__photo-label is-open-house sold">
                                                                {{listing.status}}
                                                            </div>
                                 {% elif listing.status == 'active' %}
                                        <div class="si-listing__photo-label is-open-house active">
                                                                {{listing.status}}
                                                            </div>
                                  {% elif listing.status is none %}
                                        <div class="si-listing__photo-label is-open-house none">
                                                                {{listing.status}}
                                                            </div>
                                    {% endif %}
                                    <div class="list-price">
                                        <p>NRS:{{listing.price | intcomma}}</p>
                                    </div>
                                </div>
                                <!-- Property Content -->
                                <div class="property-content">
                                    <h3><strong>{{listing.title}}</strong></h3>
                                    <p class="location"><img src="{% static 'img/icons/location.png'%}" alt="">{{listing.address}}</p>
                                    <p>Posted At: {{listing.list_date}}</p>
                                    <br>
                                    <p><i class="zmdi zmdi-account material-icons-name"> <strong>{{listing.realtor}}</strong></i></p>
                                    <div class="property-meta-data d-flex align-items-end justify-content-between">
                                        <div class="new-tag">
                                            <img src="{% static 'img/icons/new.png' %}" alt="">
                                        </div>
                                        <div class="bathroom">
                                            <img src="{% static 'img/icons/bathtub.png'%}" alt="">
                                            <span>{{ date.bathrooms }}</span>
                                        </div>
                                        <div class="garage">
                                            <img src="{% static 'img/icons/garage.png'%}" alt="">
                                            <span>{{ listing.bedrooms }}</span>
                                        </div>
                                        <div class="space">
                                            <img src="{% static 'img/icons/space.png'%}" alt="">
                                            <span>{{listing.sqft}}</span>
                                        </div>

                                    </div>
                                     <!-- Submit -->
                                            <div class="form-group mb-0" >
                                                <a href="{% url 'listing' listing.id %}" style="margin-top:25px; width:100%; height:30px;" class="btn south-btn">More Info</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}

                {% else %}
                    <div class="col-md-12" >
                        <p>No Properties Available</p>
                    </div>
                {% endif %}

            </div>
                 <a href="{% url 'listings' %}" style="margin-bottom:25px; width:100%; height:30px;  " class="btn south-btn">More Properties</a>

        </div>
    </section>
    <!-- ##### Featured Properties Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url('{% static 'img/bg-img/cta.jpg' %}');">

            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Are you looking for a house to buy?</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">Just check our site for your choice of property.</h6>
                        <a href="{% url 'search' %}" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>
                    </div>
                </div>
            </div>

    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
<!--    <section class="south-testimonials-area section-padding-100">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <div class="section-heading wow fadeInUp" data-wow-delay="250ms">-->
<!--                        <h2>Client testimonials</h2>-->
<!--                        <p>Our Client's view on realtor.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
    <!-- ##### Testimonials Area End ##### -->

    <!-- ##### Editor Area Start ##### -->
    <section class="south-editor-area d-flex align-items-center">
        <!-- Editor Content -->
        <div class="editor-content-area">
            <!-- Section Heading -->
            {% if mvp_realtor %}
            {% for realtor in mvp_realtor %}
            <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                <img src="{% static 'img/icons/prize.png' %}" alt="">



                <p>Our Realtor of the month</p>
                 <h2>{{ realtor.name }}</h2>
            </div>

            <p class="wow fadeInUp" data-wow-delay="500ms">{{ realtor.desciption }}</p>
            <div class="address wow fadeInUp" data-wow-delay="750ms">
                <h6><img src="{% static 'img/icons/phone-call.png' %}" alt=""> {{  realtor.phone }} </h6>
                <h6><img src="{% static 'img/icons/envelope.png' %}" alt=""> {{ realtor.email }}</h6>
            </div>
            <div class="signature mt-50 wow fadeInUp" data-wow-delay="1000ms">
                <img src="{% static 'img/core-img/signature.png' %}" alt="">
            </div>
        </div>

        <!-- Editor Thumbnail -->
        <div class="editor-thumbnail">
            <img src="{{realtor.photo.url}}" alt="">
        </div>
        {% endfor %}
        {% endif %}
    </section>
    <!-- ##### Editor Area End ##### -->



{% endblock %}